#change-basemap-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}

#select-basemap {
    font-size: var(--button-font-size);
    border: 1px solid var(--white-color);
    border-radius: var(--border-radius);
    color: var(--white-color);
    background-color: transparent;
    padding: var(--button-padding);

    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    padding-right: 2.25rem;
    cursor: pointer;
}

#select-basemap option {
border-radius: var(--border-radius);
  color: var(--white-color);
  background-color: #222;
  padding: 0.5rem;
}