html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--white-text-color);
    text-shadow: var(--default-text-shadow);
    background-color: var(--application-background-color);
}