<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/programming-logo.svg" type="image/x-icon">
    <title>Online Education</title>
    <link rel="stylesheet" href="../styles/views/view-contacts-styles.css">
    <script src="../code/contacts.js" defer></script>
</head>
<body>
    <nav class="navigation">
        <ul class="nav-links-wrapper">
            <li><a class="nav-links" href="./index.html">Начало</a></li>
            <li><a class="nav-links" href="./courses.html">Курсове</a></li>
            <li><a class="nav-links" href="./contacts.html">Контакти</a></li>
            <li><a class="nav-links" href="./login.html">Вход</a></li>
            <li><a class="nav-links" href="./register.html">Регистрация</a></li>
        </ul>
    </nav>

    <div class="content-wrapper">
        <div class="content">
            <div class="left-sub-content">
                <h1>Свържете се с нас</h1>
                <p><span>📧 </span>peter.gerdzhikov@gmail.com</p>
                <p><span>📱 </span>бул. Христо Ботев 1 А</p>
                <p><span>📍</span>+358878100817</p>
            </div>
            <div class="right-sub-content">
                <h3>Интересувам се от</h3>

                <div class="preferences-buttons-wrapper">
                    <button>UX/UI дизайн</button>
                    <button>Уеб дизайн</button>
                    <button>Архитектури и клийн код</button>
                    <button>Фронтенд дивелъпмент</button>
                    <button>Бекенд дивелъпмент</button>
                    <button>Бази данни</button>
                </div>

                <input type="text" placeholder="Име">
                <input type="text" placeholder="Имейл">
                <button class="send-form-btn">Изпрати</button>
            </div>
        </div>
    </div>
</body>
</html>