<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/programming-logo.svg" type="image/x-icon">
    <title>Online Education</title>
    <link rel="stylesheet" href="../styles/views/view-courses-styles.css">
    <script src="../code/courses.js" defer></script>
</head>
<body>
    <nav class="navigation">
        <ul class="nav-links-wrapper">
            <li><a class="nav-links" href="./index.html">Начало</a></li>
            <li><a class="nav-links" href="./courses.html">Курсове</a></li>
            <li><a class="nav-links" href="./contacts.html">Контакти</a></li>
            <li><a class="nav-links" href="./login.html">Вход</a></li>
            <li><a class="nav-links" href="./register.html">Регистрация</a></li>
        </ul>
    </nav>

    <div class="content-wrapper">
        <div class="content">
            <div id="arrow-left">⤾</div>
            <div id="arrow-right">⤿</div>

            <img src="../assets/courses/software-testing.png" alt="">
            <h2>Софтуерно тестване</h2>

            <p><span>Стартира на: </span>10.04.2026</p>
            <p><span>Продължение: </span>2 – месечен курс</p>
            <p><span>Ниво: </span>За начинаещи</p>
        </div>
    </div>
</body>
</html>