<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/programming-logo.svg" type="image/x-icon">
    <title>Online Education</title>
    <link rel="stylesheet" href="../styles/views/view-dashboard-styles.css">
    <script src="../code/dashboard.js" defer></script>
</head>
<body>
    <nav class="navigation">
        <ul class="nav-links-wrapper">
            <li><a class="nav-links" href="./index.html">Начало</a></li>
            <li><a class="nav-links" href="./courses.html">Курсове</a></li>
            <li><a class="nav-links" href="./contacts.html">Контакти</a></li>
            <li><a class="nav-links" href="./login.html">Вход</a></li>
            <li><a class="nav-links" href="./register.html">Регистрация</a></li>
        </ul>
    </nav>

    <div class="content-wrapper">
        <div class="content">
            <h1>Център за обучение по софтуерно инженерство</h1>

            <p>Започни работа в IT сферата</p>

            <div class="sections-wrapper">
                <div class="section">
                    <span>💻</span><p>Практическо обучение в малки групи</p>
                </div>
                <div class="section">
                    <span>🧑‍🏫</span><p>Опитни преподаватели</p>
                </div>
                <div class="section">
                    <span>📜</span><p>Сертификат</p>
                </div>
                <div class="section" id="incoming-courses">
                    <span>🧑‍💻</span><p>Предстоящи курсове</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>