<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/programming-logo.svg" type="image/x-icon">
    <title>Online Education</title>
    <link rel="stylesheet" href="../styles/views/view-authentication-styles.css">
</head>
<body>
    <nav class="navigation">
        <ul class="nav-links-wrapper">
            <li><a class="nav-links" href="./index.html">Начало</a></li>
            <li><a class="nav-links" href="./courses.html">Курсове</a></li>
            <li><a class="nav-links" href="./contacts.html">Контакти</a></li>
            <li><a class="nav-links" href="./login.html">Вход</a></li>
            <li><a class="nav-links" href="./register.html">Регистрация</a></li>
        </ul>
    </nav>

    <div class="content-wrapper">
        <div class="side-b">
            <form method="POST"  action="/api/auth/register">
                <h1>Регистрация</h1>
                <input name="username" type="text" placeholder="Потребителско име">
                <input name="password" type="password" placeholder="Парола">
                <input name="re-password" type="password" placeholder="Потвърди парола">
                <button>Потвърди</button>
                <p>Вече имаш акаунт? <a href="./login.html">Вход</a></p>
            </form>
        </div>

        <div class="side-a"></div>
    </div>
</body>
</html>