POSTGRES_SQL_USERNAME=__PLACEHOLDER__
POSTGRES_SQL_PASSWORD=__PLACEHOLDER__
OPEN_AI_API_KEY=__PLACEHOLDER__
OPEN_AI_LLM_MODEL=__PLACEHOLDER__
VITE_CONSTRUCTION_COORDS_URL=__PLACEHOLDER__
VITE_GEO_AI_URL=__PLACEHOLDER__
VITE_GYM_NODES_URL=__PLACEHOLDER__